/* Your styles here */
@font-face {
  font-family: "Monserrat";
  src: url(/Montserrat/static/Montserrat-Regular.ttf)
      format(ttf),
    url(/Montserrat/static/Montserrat-Bold.ttf) format(ttf);
}

html {
  max-width: 475px;
}
body {
  margin: auto;
  max-width: 475px;
  font-family: "Open Suns", Arial, sans-serif;
  font: normal;
  font-style: normal;
  color: #393d41;
  font-size: 1.2rem;
  line-height: 1.65;
  text-align: center;
}

.logo {
  padding: 20px;
  text-align: center;
  background-color: black;
}

.mlogo {
  width: 150px;
  text-align: center;
}
.principale {
  background-image: url(../IMG/banner.jpg);
  background-size: cover;
}

.corso {
  font: "Monserrt";
  text-align: center;
  color: #25a2c3;
  line-height: 1.5;
  font-weight: bold;
  font-size: 2em;
  margin: auto;
  padding: 10px 70px 10px 70px;
}

.paragrafo1 {
  text-align: center;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.65;
  font-style: normal;
  color: #393d41;
  margin: 10px 70px 10px 70px;
}
.spacepul {
  text-align: center;
  padding: 10px 70px 10px 70px;
}

.pulsante-partiamo {
  font-weight: bold;
  margin: 10px;
  width: 40%;
  border-radius: 5px;
  border: none;
  background-color: #f04c2f;
  color: white;
  padding: 1em;
}
.titoli {
  font-family: sans-serif;
  font-weight: bolder;
  text-align: center;
  color: #25a2c3;
  line-height: 1.5;
  font-size: 1.2rem;
  margin: auto;
  padding: 25px 10px 10px 10px;
}

.paragrafi {
  text-align: center;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  font-size: 1.2rem;
  line-height: 1.5;
  /* font-style: normal; */
  color: #393d41;
  padding: 20px 70px 20px 70px;
}
.img2 {
  padding: 20px 10px 10px 20px;
  border-radius: 250px;
}
.section-paragrafo2 {
  padding: 20px 10px 10px 20px;
}

.section-epicod {
  background-color: #e22d0e;
  text-align: center;
  color: white;
}
.h5-bianco {
  font-weight: bold;
  text-align: center;
  color: white;
  line-height: 1.5;
  font-size: 2.2rem;
  margin: auto;
  padding: 50px 10px 20px 10px;
}

.testimonianza {
  font-style: italic;
  text-align: center;
  font-size: small;
  line-height: 1.5;
  font-size: 1.2rem;
  margin: auto;
  padding: 20px 10px 30px 10px;
}

.mario {
  font-weight: 100;
  font-style: normal;
  text-align: center;
  line-height: 1.5;
  font-size: 1.2rem;
  margin: auto;
  padding: 10px 10px 0px 10px;
}
.CEO {
  font-style: italic;
  text-align: center;
  font-size: small;
  line-height: 1.5;
  margin: auto;
  padding: 0px 10px 40px 10px;
}
.card1 {
  border-radius: 5px;
  position: relative;
  width: 400px;
  height: 485px;
  margin: 50px auto;
  border: 1px solid #dee1e3;
  padding: 10px;
  line-height: 78px;
  text-align: center;
  box-sizing: border-box;
}

.img3 {
  width: 400px;
  display: block;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  border: 0;
  margin: 0 auto;
  padding: 0;
}

.contatti {
  background-color: #25a2c3;
  color: white;
}
.contatti-titiolo {
  font-family: sans-serif;
  font-weight: bolder;
  text-align: center;
  color: white;
  line-height: 1.5;
  font-size: 30px;
  margin: auto;
  padding: 40px 10px 20px 10px;
}

.con {
  margin: 20px 25px 0px 25px;
  text-decoration: underline;
  font: 1.2pt, icon;
  font-style: normal;
  font-weight: unset;
}
.indirizzo {
  margin: 0% 25px 0px 25px;
}

.marchio {
  padding: 30px 10px 50px 10px;
}
