/* Your styles here */
body {
  height: max-content 500 px;
  box-sizing: border-box;
}
.logo {
  background-color: black;
}

.mlogo {
  margin: 20px;
}
.principale {
  text-align: center;
  padding: 150px;
  margin: 150px;
  border: 20px;
  background-image: url(../IMG/banner.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}
.corso {
  font-size: 36pt;
  padding: auto;
  display: block;
  text-align: center;
  text-align: justify;
  color: cornflowerblue;
}
